[Desktop Entry]
Name=Repair Arc
Exec=env WINEPREFIX="/home/reda/.wine" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Gearbox\\ Publishing\\\\Arc\\\\Repair\\ Arc.lnk
Type=Application
StartupNotify=true
Path=/home/reda/.wine/dosdevices/c:/Program Files (x86)/Arc
Icon=9BF9_ArcRepair.0
StartupWMClass=arcrepair.exe
